body {
  margin: 0%;
  font-family: "Poppins", sans-serif;
}

h1 {
  font-size: 50px;
}

#name {
  color: orange;
}

.first {
  display: flex;
  background-image: url(images/top-banner.png);
  background-repeat: no-repeat;
}

.half-width {
  width: 40%;
  padding-left: 2%;
  margin-left: 5%;
}

.half-width img {
  margin-top: 4%;
  width: 70%;
}

.hbtn {
  text-decoration: none;
  color: #fff;
  background-image: linear-gradient(#e98e7e, #f72804);
  padding: 8px 30px;
  border-radius: 5px;
  font-weight: 700;
}

.second{
  display: flex;
  margin-top: 100px;
  background-image: url(images/dream-bg.png);
  background-repeat: no-repeat;
  background-position: right;
}

.third{
  background-image: url(images/exp-bg.png);
  background-repeat: no-repeat;
}

.third h3{
  color: orangered;
}

.xp {
  display: flex;
  height: 80%;
}

.part{
  width: 40%;
  margin: 0% 5%;
  padding-left: 20px;
  padding-right: 10px;
  border-radius: 5px;
  box-shadow: 10px 10px 40px grey;
}

.part h3{
  color: tomato;
}

.part h2{
  font-size: 40px;
}

#xp1{
  border-left: 7px solid blue;
}

#xp2{
  border-left: 7px solid tomato;
}

footer{
  text-align: center;
  margin-top: 10%;
}